@font-face {
    font-family: handwriting;
    src: url(fonts/unrulyness.ttf);
}


@font-face {
    font-family: hipster;
    src: url(fonts/Hipster.ttf);
}

@font-face {
    font-family: titles;
    src: url(fonts/MarkusInk.otf);
}

@font-face {
    font-family: handwriting;
    src: url(fonts/Lipsum.ttf);
}


body{
	margin: 0px;
	font-family: handwriting;
	font-size: 20px;
}

p{
	margin: 0;
}

.main{
	height: 100vh;
	width: 100%;
}

.swiper-container{
	width: 100%;
	height: 100%;
	margin: auto;
}

.swiper-wrapper{
	height: 100%;
}

.swiper-slide{
	
	text-align: center;
	background-image: url(images/foolscap.jpg);
	background-size: cover;
}

.slide-container{
	padding: 40px;
}

.date{
	width: 100%;
	text-align: left;
	padding: 20px;
}

.date p{
	font-family: titles;
	font-size: 60px;
	margin: 0;
}
.content{
	/*overflow: auto;*/
	width: 100%;
}

.left-column, .right-column{
	float: left;
	width: 50%;
	padding: 30px;
	box-sizing: border-box;
	text-align: left;
	height: auto;
}

img{
	width: 100%;
	margin: auto;
}

.cover-page{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.cover-page p{
	text-align: center
	font-size: 28px;
}

.cover-page p span.big{
	font-size: 65px;
	font-family: hipster;
}
.left-content p.centered, .right-content p.centered{
	text-align: center;
}

.back-cover{
	background-image: url(images/back.jpg);
}

.left-content span.big, .right-content span.big{
	font-size: 28px;
}

.swiper-slide:first-child{
	background-image: url(images/cover.jpg);
}

.swiper-slide:nth-child(odd){
	/*background: blue;*/
}

.swiper-slide:nth-child(even){
	/*background: red;*/
}

@media screen and (max-width: 768px) {
   .left-column, .right-column{
		width: 100%;
		
	}
}


















